body {
    margin: 0;
}

.nav > a:hover {
    border: 1px solid #111;
    border-radius: 10px;
}

h1,
h2 {
   font-family: 'Lobster', cursive; 
}

.container > h1 {
    margin-top: 10%;
    margin-left: 50%;
    color: #AB561A;
}

.jumbotron-fluid {
    background: url(./images/cover_ok.jpeg);
    position: relative;
    padding-top: 1em;
    min-height: 550px;
}

.card {
    margin: 1em;
}
